/* Home Page */
.home #qodef-page-header-inner {
	 background: rgba(255, 255, 255, 0.85);
}
.home .qodef-menu-item-text, .qodef-header-sticky-inner .qodef-menu-item-text {
	color: #6A1B2D;
}
/* Remove from home and contact page */
.home #qodef-page-content-bottom , .page-id-1405 #qodef-page-content-bottom {
	display: none;
}

/* Other Pages */
#qodef-page-header-inner {
	 background-color: #6A1B2D;
}

/* Mobile */
.qodef-mobile-header-navigation .qodef-menu-item-text {
	color: black;
}

#qodef-page-content-bottom .qodef-m-text {
	text-align: center;
}

.qodef-menu-item-text {
	color: #f7f2ea;
}

#qodef-top-area-inner, .qodef-progress-number {
	display: none;
}

.qodef-menu-item-text, .qodef-m-text {
	font-size: 1.25rem;
}

.elementor-element-e52e8a0 {
	padding: 0;
}